#root {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing {
  position: fixed;
  z-index: -5;
  width: 100vw;
  height: 100vh;
  top: 0px;
}

.login-page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 30%;
  height: 17%;
  align-self: center;
  padding: 20px;
}

.login-form-container {
  display: flex;
  align-self: center;
  background-color: $white;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  box-shadow: 3px 3px 3px 2px black;
  font-size: 15px;
  margin-top: 10px;
  color: $black;
  opacity: 0.9;
}

.login-form-box {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: $white;
}

.form-title {
  align-self: center;
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 25px;
}

.auth-link {
  color: $black;
}

.login-input {
  margin-bottom: 10px;
  color: black;
  padding-left: 8px;
}

.form-label {
  border-bottom: 1px solid black;
}

.guest-login {
  align-self: flex-start;
  padding-right: 12px;
}
