// $dark-blue: #1B676B;
// $dark-green: #519548;
// $medium-green: #88C425;
// $light-green: #BEF202;
// $lightest-green: #EAFDE6;

// $white: #f6f6f6;
// $grey: #e8e8e8;
// $black: #333333;
// $dark-red: #990100;
// $light-red: #ce0605;

$white: white;
$grey: #e8e8e8;
$black: black;
$dark-red: #D50000;
$light-red: #F44336;
