.comment-list-item {
  margin: 0 18%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid grey;
  padding: 10px;
}

.comment-list-item:first-child {
  margin-top: 20px;
}

.comment-list-item-pic {
  height: 50px;
  width: 50px;
  border-radius: 30px;
  margin-right: 50px;
}

.comment-list-item-text {
  font-size: 17px;
}

.comment-form-container {
  margin: 0 18%;
  display: flex;
  justify-content: center;
  margin: 10px;
  border-bottom: 1px solid grey;
}
