.navbar-container {
  display: flex;
  background-color: $dark-blue;
  height: 40px;
  width: 100%;
  align-items: flex-end;
}

.upload-img {
  display: inline-block;
  width: 35px;
  cursor: pointer;
}
