.navbar-container {
  position: fixed;
  top: 0px;
  display: flex;
  background-color: $black;
  height: 40px;
  width: 100%;
  justify-content: space-between;
  box-shadow: 1px 2px 3px 0px black;
  z-index: 1;
}

.navbar-left {
  display: flex;
  justify-content: space-between;
}

.navbar-logo {
  margin: 0 10px;
}

.navbar-profile-link {
  color: $grey;
  font-size: 16px;
  margin: 11px 17px 0px 12px;
}

.navbar-profile-pic {
  height: 30px;
  width: 30px;
  border-radius: 20px;
  margin-top: 5px;
  margin-right: 3px;
}

.stream-link {
  color: $grey;
  margin-top: 11px;
  margin-left: 12px;
  font-size: 16px;
}

.navbar-logo {
  width: 120px;
}

.navbar-right {
  display: flex;
  justify-content: space-between;
}

.upload-img {
  display: inline-block;
  width: 35px;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 4px;
}

.logout-button {
  margin: 5px 10px;
}
