.navbar-container {
  display: flex;
  background-color: $dark-blue;
  height: 40px;
  width: 100%;
  align-items: flex-end;
  box-shadow: 1px 2px 3px 0px black;
  border-radius: 3px;
}

.upload-img {
  display: inline-block;
  width: 35px;
  cursor: pointer;
}
