.song-player {
  position: fixed;
  bottom: 0px;
  background-color: $black;
  width: 65%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-bottom: 10px;
  border-radius: 7px;
  box-shadow: 3px 3px 2px 0px black;
}

.player {
  display: flex;
  justify-content: center;
  width: 33.3%;
  padding-top: 3px;
}

.player-backward {
  margin-right: 15px;
}

.player-main {
  margin-right: 15px;
}

.player-forward {
  margin-right: 15px;
}

.details {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.song-player-title {
  display: block;
  margin: 8px 0;
  font-size: 18px;
  color: $grey;
}

.song-player-artist {
  display: block;
  font-size: 13px;
  color: $grey;
}

progress {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

progress {
    color: $dark-red;
}

progress::-moz-progress-bar {
    background: $dark-red;
}

progress::-webkit-progress-value {
    background: $dark-red;
}

.progress {
  width: 33.3%;
  display: flex;
  align-items: center;
}

.progress-bar {
  width: 70%;
  height: 5px;
}

.player-time-elapsed {
  margin-right: 4px;
}

.player-time-total {
  margin-left: 4px;
}
