.user-page-container {
  margin: 0 18%;
  display: flex;
  flex-direction: column;
}

.user-page-panel {
  position: relative;
  width: 100%;
  height: 50vh;
  z-index: -2;
}

.user-page-details {
  display: flex;
  position: absolute;
  bottom: 50vh;
  left: 21vw;
  z-index: -1;
}

.user-profile-pic {
  height: 25vh;
  width: 25vh;
  border-radius: 100px;
  padding: 1px;
  background-color: black;
  display: inline;
}

.user-page-username {
  background-color: black;
  color: white;
  display: inline;
  font-size: 40px;
  align-self: flex-end;
  padding: 0px 6px 7px 6px;
  margin-left: 30px;
}

.user-page-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.user-page-button {
  margin-left: 7px;
}

.user-page-bio-container {
  display: flex;
  flex-direction: column;
  width: 59%;
}

.user-page-bio-title {
  font-size: 24px;
}

.user-page-bio {
  font-size: 14px;
  width: 100%
}

.user-page-songs-title {
  font-size: 40px;
  border-bottom: 2px solid black;
}

.user-page-lower-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.user-page-songs-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 30px;
}

.user-song-list-item {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid grey;
  align-items: center;
  padding: 30px 30px 30px 0px;
}

.user-song-list-image {
  height: 150px;
  width: 150px;
  display: inline-block;
}

.user-song-list-item-button {
  transition: opacity 0.4s ease;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  padding: 0;
  margin: 0;
  width: 150px;
  height: 150px;
  position: absolute;
  z-index: 1;
  border-radius: 0px;
  display: block;
}

.user-song-list-item-button:hover {
  opacity: 1;
}

button.user-song-list-item-button:hover {
  background: rgba(0, 0, 0, 0.2);
}

.play-button {
  color: white;
}

.play-button:active {
  color: $dark-red;
}


.user-song-list-item-title {
  display: inline;
  color: black;
  font-size: 18px;
  align-self: center;
  margin-left: 40px;
}

.user-song-list-item-title:hover {
  color: $dark-red;
}

.user-song-list-item-artist {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 13px;
}

.user-page-info-form {
  background-color: $black;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-page-username-input {
  font-size: 12px;
  margin-left: 7px;
  color: black;
  margin-bottom: 20px;
}

.user-page-bio-input {
  font-size: 12px;
  color: black;
  background-color: $grey;
  box-shadow: inset 0 0 10px black;
  text-align: left;
  padding: 5px;
  margin-left: 7px;
}

.user-page-form-label {
  font-size: 17px;
  color: $grey;
}

.user-page-info-submit {
  background-color: $dark-red;
  border-color: $dark-red;
  color: $white;
  font-weight: bold;
  padding: 7px 9px;
  border-radius: 3px;
  transition: background-color 0.3s;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  text-align: center;
  margin-top: 12px;
  box-shadow: 1px 1px 2px 0px black;
}

.user-page-info-submit:hover {
  background-color: $light-red;
}

.modal-close {
  margin-left: 10px;
}
